#text{
    margin-top:30px;
}
#lorem{
    font-size: 1.1rem;
}
#sidebar{
    background-color: #AE002B;
    color: white;
    padding-top:70px;
}
#login{
    color: gray;
}
.flex-center1{
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    height:100%
}
#explore{
    font-size: 100px;
    padding-top: 150px;
    font-weight: bolder;
    /* text-align: center; */
}
#best{
    font-weight: bolder;
    padding-bottom: 50px;
}
#price{
    background-image: url('../img/price.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* margin-bottom: 50px; */
  }
#select{
    margin-top: 80px;
    color: white;
    font-weight: bolder;
}
#title{
    background-color: #696969;
}
#space{
    text-align: center;
}
#pookie{
    list-style:none;
    text-align:center;
    color:#696969;
}
#landing{
    background-image: url('../img/img.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* text-align: center; */
    /* margin-bottom: 50px; */
}
#line{
    color:#696969;
}

/* .input-group.md-form.form-sm.form-2 input {
  border: 1px solid #bdbdbd;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
} */
/* .input-group.md-form.form-sm.form-2 input.amber-border  {
  border: 1px solid #ffca28;
} */